
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.venv/


.env
.env.*
!.env.example
repomix-output.txt
translation_configs.json

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-project
*.sublime-workspace


dist/
build/



